environment:
  matrix:
    - MSYSTEM : MINGW64
      MBITS: 64
      MARCH: x86_64
    - MSYSTEM : MINGW32
      MBITS: 32
      MARCH: i686

platform:
  - x64

#cache:
#  - C:\msys64\var\cache\pacman\pkg\mingw-w64-x86_64-qt4* -> .appveyor.yml

install:

  # Take a look at the environment
  - set

  - set "PATH=C:\msys64\usr\bin;C:\msys64\mingw%MBITS%\bin;%PATH%"

  - bash -lc ""
  - bash -lc "pacman --version"
  - bash -lc "pacman -Q"
  # Switch from SF to msys2.org (default, much faster)
  - bash -lc "pacman --noconfirm --sync pacman-mirrors"
  - bash -lc "pacman --noconfirm -S autoconf automake bison flex"
  - bash -lc "pacman --noconfirm -S mingw-w64-%MARCH%-qt4"
  
  # Set compiler (64bit)
  - set "CC=/c/msys64/mingw%MBITS%/bin/gcc.exe"
  - set "CXX=/c/msys64/mingw%MBITS%/bin/g++.exe"


build_script:
  ## Notes
  #  * The "exec 0</dev/null" opens a dummy file descriptor to fix error: ./configure: line 560: 0: Bad file descriptor

  ## Other dependencies
  # Download, build and install ADMS
  - bash -lc "exec 0</dev/null && wget.exe http://sourceforge.net/projects/mot-adms/files/adms-source/2.3/adms-2.3.4.tar.gz"
  - bash -lc "exec 0</dev/null && tar xvfz adms-2.3.4.tar.gz"
  - bash -lc "exec 0</dev/null && cd adms-2.3.4/ && ./configure && make install && cd -"
  - bash -lc "exec 0</dev/null && admsXml -h"

  ## Build Qucs-GUI applications and install
  - bash -lc "exec 0</dev/null && cd $APPVEYOR_BUILD_FOLDER/qucs && ./bootstrap"
  - bash -lc "exec 0</dev/null && cd $APPVEYOR_BUILD_FOLDER/qucs && export QTDIR=/c/msys64/mingw%MBITS%/ && ./configure --prefix=/c/qucs-win%MBITS%"
  - bash -lc "exec 0</dev/null && cd $APPVEYOR_BUILD_FOLDER/qucs && make install"
  - bash -lc "exec 0</dev/null && cd /c/qucs-win%MBITS%/bin  && ./qucs -v"

  ## Build Qucs-core and install
  - bash -lc "exec 0</dev/null && cd $APPVEYOR_BUILD_FOLDER/qucs-core && ./bootstrap"
  - bash -lc "exec 0</dev/null && cd $APPVEYOR_BUILD_FOLDER/qucs-core && ./configure --prefix=/c/qucs-win%MBITS% --with-mkadms=`which admsXml` --disable-dependency-tracking"
  - bash -lc "exec 0</dev/null && cd $APPVEYOR_BUILD_FOLDER/qucs-core && make install"
  - bash -lc "exec 0</dev/null && cd /c/qucs-win%MBITS%/bin && ./qucsator -v"

  ## Prepare simple redistributable package (no qucs-doc)
  # Copy required libraries, make binaries usable from command line, Windows Explorer
  - set QTDIR=c:\msys64\mingw%MBITS%\
  - set QUCSDIR=c:\qucs-win%MBITS%\
  - cp %QTDIR%\bin\Qt3Support4.dll %QUCSDIR%\bin
  - cp %QTDIR%\bin\QtCore4.dll     %QUCSDIR%\bin
  - cp %QTDIR%\bin\QtGui4.dll      %QUCSDIR%\bin
  - cp %QTDIR%\bin\QtNetwork4.dll  %QUCSDIR%\bin
  - cp %QTDIR%\bin\QtXml4.dll      %QUCSDIR%\bin
  - cp %QTDIR%\bin\QtSql4.dll      %QUCSDIR%\bin
  - cp %QTDIR%\bin\QtSvg4.dll      %QUCSDIR%\bin
  - cp %QTDIR%\bin\QtScript4.dll   %QUCSDIR%\bin

  - cp %QTDIR%\bin\libstdc++-6.dll     %QUCSDIR%\bin
  - cp %QTDIR%\bin\libwinpthread-1.dll %QUCSDIR%\bin
  - cp %QTDIR%\bin\libpng16-16.dll     %QUCSDIR%\bin
  - cp %QTDIR%\bin\zlib1.dll %QUCSDIR%\bin

  - if "%MSYSTEM%" == "MINGW32" (cp %QTDIR%\bin\libgcc_s_dw2-1.dll %QUCSDIR%\bin) else (cp %QTDIR%\bin\libgcc_s_seh-1.dll %QUCSDIR%\bin)
  
  # Run from windows cmd
  - cd %QUCSDIR%\bin
  - qucs.exe -v
  - qucsator.exe -v

  # TODO
  # * one could zip the %QUCSDIR% and use it for testing
  # * perhaps it is best we finish the top level 'make dist',
  #   doing so it is easier to create tarballs, build the binaries from it and distribute both.
  
after_build:
  #  artifacts path is always relative to build folder, so put the zip there
  - 7z a %APPVEYOR_BUILD_FOLDER%\qucs-win%MBITS%.zip %QUCSDIR%

artifacts:
  # variables here must use the PowerShell syntax
  - path: qucs-win$(MBITS).zip
    name: qucs-win$(MBITS).zip

#on_failure:
#  - bash -lc "exec 0</dev/null && cat $APPVEYOR_BUILD_FOLDER/qucs/config.log"
#  - ps: Get-ChildItem .\*.log -Recurse | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }

