Stefan Jahn <stefan@lkcc.org> ela <ela@b5b04e8c-4942-46c9-ab4f-83783d557d1c>
Stefan Jahn <stefan@lkcc.org> ela <ela>

Raimund Jacob <raimi@lkcc.org> raimi <raimi>
Raimund Jacob <raimi@lkcc.org> raimi <raimi@b5b04e8c-4942-46c9-ab4f-83783d557d1c>

Michael Margraf <michael.margraf@alumni.tu-berlin.de> margraf <margraf>
Michael Margraf <michael.margraf@alumni.tu-berlin.de> margraf <margraf@b5b04e8c-4942-46c9-ab4f-83783d557d1c>
Michael Margraf <michael.margraf@alumni.tu-berlin.de> (no author) <(no author)@b5b04e8c-4942-46c9-ab4f-83783d557d1c>
Michael Margraf <michael.margraf@alumni.tu-berlin.de> root <root@b5b04e8c-4942-46c9-ab4f-83783d557d1c>

Gopala Krishna A <krishna.ggk@gmail.com> krishna_ggk <krishna_ggk@b5b04e8c-4942-46c9-ab4f-83783d557d1c>
Gopala Krishna A <krishna.ggk@gmail.com> krishna_ggk <krishna_ggk>

Richard Crozier <richard.crozier@yahoo.co.uk> Richard Crozier <richard.crozier@example.com>
Richard Crozier <richard.crozier@yahoo.co.uk> crobarcro <you@example.com>
Richard Crozier <richard.crozier@yahoo.co.uk> Richard C Crozier <user@example.com>
Richard Crozier <richard.crozier@yahoo.co.uk> Richard C Crozier <s0237326@vlx11.see.ed.ac.uk>
Richard Crozier <richard.crozier@yahoo.co.uk> Richard <richard@hector.(none)>

Frans Schreuder <info@schreuderelectronics.com> Frans Schreuder <fransschreuder@gmail.com>
Frans Schreuder <info@schreuderelectronics.com> Frans Schreuder <info@usbpicprog.org>
Frans Schreuder <info@schreuderelectronics.com> Frans Schreuder <franss@rulander.(none)>
Frans Schreuder <info@schreuderelectronics.com> Frans Schreuder <franss@RULANDER.(none)>
Frans Schreuder <info@schreuderelectronics.com> unknown <franss@timate.nikhef.nl>

Clemens Novak <clemens@familie-novak.net> cnovak <clemens@familie-novak.net>
Clemens Novak <clemens@familie-novak.net> ClemensFMN <clemens@familie-novak.net>

Vadim Kuznetzov <ra3xdh@gmail.com> Vadim Kusnetzov <ra3xdh@gmail.com>

You-Tang Lee (YodaLee) <lc85301@gmail.com>  yodalee <lc85301@gmail.com>

