*.o
Makefile.in
Makefile
.deps
.qm
*.qm
stamp-h1
missing
configure
config.guess
config.h
config.sub
config.h.in
config.log
config.status
build-stamp
aclocal.m4
INSTALL
depcomp
*.a
install-sh

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
uninstall.cmake
install_manifest.txt

lib/
lib/gtest/

# generated manual pages
*.1
