[Desktop Entry]
Name=Qucs
GenericName=Electronic circuit simulator
GenericName[ar]=محاكاة الدوائر الإلكترونية
GenericName[ca]=Simulador de circuit electrònic
GenericName[cs]=Elektronický simulátor obvodů
GenericName[da]=Simulator til elektroniske kredsløb
GenericName[de]=Elektronischer Schaltkreis-Simulator
GenericName[el]=Εξομοιωτής ηλεκτρονικών κυκλωμάτων
GenericName[es]=Simulador de circuitos electrónicos
GenericName[fr]=Simulateur de circuit électronique
GenericName[hu]=Elektronikus áramkör szimulátor
GenericName[it]=Simulatore di circuiti elettronici
GenericName[ja]=電気回路シミュレータ
GenericName[nb]=Simulator for elektroniske kretser
GenericName[nl]=Simulator van elektronische schakeling
GenericName[pl]=Symulator układów elektronicznych
GenericName[pt_BR]=Simulador de circuito eletrônico
GenericName[ru]=Симулятор электрических цепей
GenericName[uk]=Симулятор електричних кіл
GenericName[zh_CN]=电子线路模拟器
Comment=A Universal Circuit Simulator
Comment[es]=Un simulador universal de circuitos
Comment[de]=Ein universeller Schaltkreissimulator
Comment[pt]=Simulador universal de circuitos
Comment[fr]=Simulateur universel de circuits
Comment[it]=Simulatore universale di circuiti
Comment[af]='n Universele stroombaan nabootser
Comment[sq]=Një Stimulues Universal i Grafikëve
Comment[ast]=Un simulador de circuitu universal
Comment[bn]=একটি সর্বজনীন বর্তনী সিমুলেটর
Comment[bs]=Univerzalni simulator električnih kola
Comment[pt_BR]=Um simulador de cicuitos universal
Comment[bg]=Универсален симулатор на схеми
Comment[ca]=Un simulador universal de circuits integrats
Comment[ca@valencia]=Un simulador universal de circuits integrats
Comment[zh_HK]=通用電路模擬器
Comment[zh_CN]=一个通用电路仿真程序
Comment[zh_TW]=通用電路模擬器
Comment[crh]=Evrensel Devre Benzetimcisi
Comment[cs]=Univerzální simulátor obvodů
Comment[da]=Universel kredsløbssimulator
Comment[nl]=Een universele circuitsimulator
Comment[et]=Universaalne vooluringi simulaator
Comment[fi]=Universaali piirisimulaattori
Comment[gl]=Un simulador universal de circuítos
Comment[el]=Ένας καθολικός προσομοιωτής κυκλωμάτων
Comment[hu]=Univerzális áramkör-szimulátor
Comment[ja]=汎用回路シミュレータ
Comment[ms]=Simulator Litar Universal
Comment[nb]=En universell kretssimulator
Comment[oc]=Un simulador de circuit universal
Comment[pl]=Symulator ukladów elektronicznych
Comment[ro]=Simulator universal de circuite
Comment[ru]=Универсальный симулятор электрических цепей
Comment[sl]=Splošni simulator vezja
Comment[sv]=En universell kretssimulator
Comment[tr]=Evrensel Devre Benzetimcisi
Comment[uk]=Універсальний імітатор електричних ланцюгів
Comment[vi]=Trình mô phỏng mạch thông dụng
Exec=qucs %U
Icon=/usr/share/pixmaps/big.qucs.xpm
Terminal=false
Type=Application
Categories=Education;Electronics;
StartupNotify=false
