Source: adms
Section: electronics
Priority: optional
Maintainer: Valentyn Pavliuchenko <valentyn.pavliuchenko@gmail.com>
Homepage: http://adms.noovela.com
Build-Depends: debhelper (>> 4.0.0),autotools-dev
Standards-Version: 3.8.1

Package: adms
Architecture: any
Depends: ${shlibs:Depends}
Description: Code generator for electrical compact device models
 ADMS is a code generator that converts electrical compact
 device models specified in high-level description language
 into ready-to-compile c code for the API of spice simulators.
  
